h3 {
  margin-top: 2em;
}
h3:hover {
  text-decoration: underline;
}
h3:hover::after {
  content: ' →';
  color: #1976d2;
}
button {
  margin-right: 0.5em;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
